USE [master]
GO
/****** Object:  Database [Interviewd]    Script Date: 9/4/2017 8:13:08 PM ******/
CREATE DATABASE [Interviewd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Interviewd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.INTERVIEWD\MSSQL\DATA\Interviewd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Interviewd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.INTERVIEWD\MSSQL\DATA\Interviewd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Interviewd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Interviewd]
GO
USE [Interviewd]
GO
/****** Object:  User [interviewd]    Script Date: 9/4/2017 8:13:08 PM ******/
CREATE USER [interviewd] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [developer]    Script Date: 9/4/2017 8:13:08 PM ******/
CREATE USER [developer] FOR LOGIN [developer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[Ids]    Script Date: 9/4/2017 8:13:09 PM ******/
CREATE TYPE [dbo].[Ids] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GivenName] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InterviewTemplateQuestions]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewTemplateQuestions](
	[InterviewTemplateId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InterviewTemplates]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InterviewTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidates] ([Id])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Candidate]
GO
ALTER TABLE [dbo].[InterviewTemplateQuestions]  WITH CHECK ADD  CONSTRAINT [FK_InterviewTemplateQuestions_InterviewTemplate] FOREIGN KEY([InterviewTemplateId])
REFERENCES [dbo].[InterviewTemplates] ([Id])
GO
ALTER TABLE [dbo].[InterviewTemplateQuestions] CHECK CONSTRAINT [FK_InterviewTemplateQuestions_InterviewTemplate]
GO
ALTER TABLE [dbo].[InterviewTemplateQuestions]  WITH CHECK ADD  CONSTRAINT [FK_InterviewTemplateQuestions_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[InterviewTemplateQuestions] CHECK CONSTRAINT [FK_InterviewTemplateQuestions_Questions]
GO
/****** Object:  StoredProcedure [dbo].[Get_Candidates]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Candidates] 
AS
	SELECT c.Id, c.GivenName, c.Surname
	FROM dbo.Candidates c
GO
/****** Object:  StoredProcedure [dbo].[Get_InterviewTemplate]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_InterviewTemplate] (
	@InterviewTemplateId int
) AS
SELECT it.Id, it.Name
FROM dbo.InterviewTemplates it
WHERE it.Id = @InterviewTemplateId
GO
/****** Object:  StoredProcedure [dbo].[Get_InterviewTemplateQuestions]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_InterviewTemplateQuestions] (
	@InterviewTemplateId int
) AS
SELECT q.Id, q.Name, q.Description
FROM dbo.InterviewTemplateQuestions itq
	INNER JOIN dbo.Questions q
		ON itq.QuestionId = q.Id
WHERE itq.InterviewTemplateId = @InterviewTemplateId
GO
/****** Object:  StoredProcedure [dbo].[Get_Question]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Question]
	@Id int
AS
	SELECT q.Id, q.Name, q.Description
	FROM dbo.Questions q
	WHERE q.Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[Get_Questions]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Questions]
AS
	SELECT q.Id, q.Name, q.Description
	FROM dbo.Questions q
GO
/****** Object:  StoredProcedure [dbo].[Insert_Candidate]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Candidate] (
	@GivenName nvarchar(MAX),
	@Surname nvarchar(MAX),
	@Id int output
) AS
	INSERT INTO dbo.Candidates (GivenName, Surname)
	VALUES (@GivenName, @Surname)

	SELECT @Id = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[Insert_Interview]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Interview] (
	@CandidateId int,
	@Id int output
)
AS
	INSERT INTO dbo.Interviews (CandidateId)
	VALUES (@CandidateId)

	SELECT @Id = SCOPE_IDENTITY();

GO
/****** Object:  StoredProcedure [dbo].[Insert_InterviewTemplate]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_InterviewTemplate]
	@Name nvarchar(max),
	@Id int output
AS
	INSERT INTO dbo.InterviewTemplates (Name)
	VALUES (@Name)

	SELECT @Id = SCOPE_IDENTITY();

GO
/****** Object:  StoredProcedure [dbo].[Insert_InterviewTemplateQuestions]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_InterviewTemplateQuestions]
	@InterviewTemplateId int,
	@QuestionIds Ids readonly
AS
	INSERT INTO dbo.InterviewTemplateQuestions (InterviewTemplateId, QuestionId)
		SELECT @InterviewTemplateId, Id
		FROM @QuestionIds

GO
/****** Object:  StoredProcedure [dbo].[Insert_Question]    Script Date: 9/4/2017 8:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Question]
	@Name nvarchar(max),
	@Description nvarchar(max),
	@Id int output
AS
	INSERT INTO dbo.Questions (Name, Description)
	VALUES (@Name, @Description)

	SELECT @Id = SCOPE_IDENTITY();

GO
USE [master]
GO
